{% load static %}
<link href="{% static 'AppCoder/css/styles.css' %}" rel="stylesheet" />
<a class="btn btn-primary" href="{% url 'Página Principal' %}">Volver al Inicio</a>
<p></p>
<form action="" method= "get"> 
    
    <p> Comisión <input type="text" name="comision" id="comision"> </p>
    <button type="submit" value="Enviar"> Buscar </button>
</form>


{% if cursos %}

    <ul>
    {% for curso in cursos %}
        <li> {{curso}} </li>
    {% endfor %}
    </ul>

{% else %}

    {{respuesta}}

{% endif %}

