{% load static %}
<link href="{% static 'AppCoder/css/styles.css' %}" rel="stylesheet" />
<a class="btn btn-primary" href="{% url 'Página Principal' %}">Volver al Inicio</a>
<p></p>
<form action="" method= "get"> 
    
    <p> Email <input type="text" name="email" id="email"></p>
    <button type="submit" value="Enviar"> Buscar </button>

</form>


{% if profesores %}

    <ul>
    {% for profesor in profesores %}
        <li> {{profesor}} </li>
    {% endfor %}
    </ul>

{% else %}

    {{respuesta}}

{% endif %}